body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    color: white;
    background: linear-gradient(107deg, rgb(13, 198, 180) 8.1%, rgb(33, 198, 138) 79.5%);
}

#name {
    color: goldenrod;
    margin-top: 80px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

#blackjackgame {
    height: 370px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-image: url("images/table.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#start {
    margin-left: 230px;
    margin-right: 230px;
    height: 32px;
    font-size: 22px;
    width: 240px;
    background-color:goldenrod;
    border-radius: 5px;
}

#cards {
    height: 20px;
    width: 450px;
    margin-left: 140px;
    margin-bottom: 20px;
}

#sum {
    height: 20px;
    width: 450px;
    margin-left: 140px; 
}

#startgame-btn {
    height: 20px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: goldenrod;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

#startgame-btn:hover {
    background-color: gold;
}



#newgame-btn {
    font-weight: bold;
    color: white;
    height: 20px;
    background-color: goldenrod;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    border-radius: 5px;
    border: none;
}


#newgame-btn:hover {
    background-color: gold;
}

#player {
    color: gold;
    font-size: 17px;
    height: 24px;
    width: 140px;
    display: flex;
    margin-left: auto;
    margin-right:auto ;
}

#reset-btn {
    font-weight: bold;
    color: white;
    height: 20px;
    background-color: goldenrod;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    border-radius: 5px;
    border: none;
}

#reset-btn:hover {
    background-color: red;
}
